<h1 mat-dialog-title>{{ data.title }}</h1>

<div mat-dialog-content>
  <p>{{ data.text }}</p>
  <mat-form-field class="fill">
    <textarea matInput [(ngModel)]="input" placeholder="{{ data.placeholder }}"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">
    CANCEL
  </button>
  <button mat-button (click)="input = ''">
    CLEAR
  </button>
  <button mat-button (click)="submit()" color="primary">
    SUBMIT
  </button>
</div>
