@import "variables";

mat-icon
  margin-right: 5px

span
  display: inline-block

[mat-icon-button]
  width: 60px
  border-radius: 0

a
  text-decoration: none

user-avatar
  position: relative
  top: -3px;
  left: -3px;

flag
  margin-left: 5px
  margin-right: 5px

::ng-deep .online-row .user-avatar
  border: 3px solid $white;

::ng-deep .online-row .meditated-recently .user-avatar
  border: 3px solid $primary-color;
