@import "variables"

.feedback-card
  display: flex
  flex-direction: column

  &__details
    font-size: 14px
    opacity: 0.5
    margin-bottom: 16px

  &__star
    $star-size = 36px
    color: $primary-color
    font-size: $star-size
    height: $star-size
    margin-right: 24px

  async-button
    margin-left: auto