<mat-card class="feedback-card mat-elevation-z3">
  <p><span class="bold">Feedback:</span><br>{{ feedback.text }}</p>
  <div *ngIf="feedback.rating" class="feedback-card__rating">
    <mat-icon
      *ngFor="let star of ratingArray(feedback.rating)"
      class="feedback-card__star"
    >star</mat-icon>
  </div>
  <div class="feedback-card__details">
    <div *ngIf="feedback.device">Primary Device: {{ feedback.device }}</div>
    <div>Submitted On: {{ feedback.createdAt | momentFormat }}</div>
    <div *ngIf="feedback.user">Submitted By: {{ feedback.user.name }} ({{ feedback.user.username}})</div>
  </div>
  <async-button
    [color]="'primary'"
    [loading]="deleting"
    (click)="delete.emit()"
  >Delete</async-button>
</mat-card>