<div class="feedback-admin container">
  <mat-card>
    <mat-card-title>User Feedback</mat-card-title>
    <feedback-card
      *ngFor="let feedback of feedbacks"
      [feedback]="feedback"
      [deleting]="feedbackDeleting == feedback"
      (delete)="confirmDelete(feedback)"
    ></feedback-card>
    <async-button
      *ngIf="!fetchedAll"
      [loading]="loading"
      (click)=loadNext()
    >LOAD MORE</async-button>
  </mat-card>
</div>