<button
  *ngIf="teacherId"
  mat-fab
  color="accent"
  [routerLink]="[teacherId, 'new']"
>
  <mat-icon>add</mat-icon>
</button>

<mat-card *ngIf="(admin$ | async)">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Settings
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="appointment-settings">
        <ul>
          <li>
            <span>No registration is possible within</span>
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="registrationForerun"
                name="registrationForerun"
                placeholder="Hours block register*"
                type="number"
              >
            </mat-form-field>
            <span>hours before appointment starts.</span>
            <button
              mat-mini-fab
              color="primary"
              [disabled]="!settings || settings.appointmentsRegistrationForerun === registrationForerun"
              (click)="updateSettings('appointmentsRegistrationForerun', registrationForerun)"
            >
              <mat-icon>done</mat-icon>
            </button>
          </li>
          <li>
            <span>Users are allowed to start appointment within</span>
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="toEarlyTolerance"
                name="toEarlyTolerance"
                placeholder="Early Tolerance*"
                (change)="updateSettings('appointmentsToEarlyTolerance', toEarlyTolerance)"
                type="number"
              >
            </mat-form-field>
            <span>minutes before appointment.</span>
            <button
              mat-mini-fab
              color="primary"
              [disabled]="!settings || settings.appointmentsToEarlyTolerance === toEarlyTolerance"
              (click)="updateSettings('appointmentsToEarlyTolerance', toEarlyTolerance)"
            >
              <mat-icon>done</mat-icon>
            </button>
          </li>
          <li>
            <span>Users are allowed to start apppointment within</span>
            <mat-form-field class="restriction-settings">
              <input
                matInput
                [(ngModel)]="toLateTolerance"
                name="toLateTolerance"
                placeholder="Late Tolerance*"
                (change)="updateSettings('appointmentsToLateTolerance', toLateTolerance)"
                type="number"
              >
            </mat-form-field>
            <span>minutes after appointment.</span>
            <button
              mat-mini-fab
              color="primary"
              [disabled]="!settings || settings.appointmentsToLateTolerance === toLateTolerance"
              (click)="updateSettings('appointmentsToLateTolerance', toLateTolerance)"
            >
              <mat-icon>done</mat-icon>
            </button>
          </li>
        </ul>
        <div>
          <button
            mat-raised-button
            mat-button
            color="warn"
            (click)="toggleDisableSchedule()"
          >
            {{ !disabled ? 'Start' : 'Stop'}} disabling schedule
          </button>
        </div>
      </div>

      <div class="disable-appointments" *ngIf="disabled">
        <div>
          <mat-form-field class="timezone-select">
            <mat-select
              [(ngModel)]="disableAppointmentsTimezone"
              (selectionChange)="updateSettings('disableAppointmentsTimezone', disableAppointmentsTimezone)"
              name="disableAppointmentsTimezone"
              placeholder="Timezone"
            >
              <mat-option *ngFor="let tzone of timezones" [value]="tzone">
                {{ tzone }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="fill datetime">
            <input
              matInput
              [(ngModel)]="dateFrom"
              name="dateFrom"
              required
              placeholder="Date from (i.e. 10/10/2020)"
              type="date"
            >
          </mat-form-field>
          <mat-form-field class="fill datetime">
            <input
              matInput
              [(ngModel)]="dateTo"
              name="dateTo"
              required
              placeholder="Date to (i.e. 10/10/2020)"
              type="date"
            >
          </mat-form-field>
          <button
            mat-raised-button
            mat-button type="submit"
            color="primary"
            type="submit"
            [disabled]="!dateFrom || !dateTo || (posting$ | async)"
            (click)="submitDisabledDates(disabled, dateFrom, dateTo)"
            >
            Submit
          </button>
        </div>
        <div>
          <b *ngIf="disableAppointmentsError" class="error">{{ disableAppointmentsError }}</b>
        </div>
      </div>

      <hr>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="select-teacher" *ngIf="allTeachers">
    <mat-form-field appearance="fill">
      <mat-label>Choose Teacher</mat-label>
      <mat-select [value]="teacherId" (selectionChange)="selectTeacher($event)">
        <mat-option [value]="">None</mat-option>
        <mat-option *ngFor="let teacher of allTeachers" [value]="teacher._id">
          {{ teacher.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>

<div *ngIf="teacherId && initialLoading" class="centered">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="!initialLoading">
  <div *ngIf="!keys || keys.length === 0" class="centered">
    <h4>There are no appointments yet.</h4>
  </div>

  <div *ngIf="keys && keys.length > 0" class="appointment-list">
    <div style="padding: 12px;">
      <mat-checkbox
        class="mat-checkbox-confirm" [(ngModel)]="confirmDeletions">
        Warn before deleting an appointment</mat-checkbox>
    </div>

    <mat-card *ngFor="let hour of keys">
      <button
        mat-raised-button
        mat-button
        class="edit"
        (click)="toggleEdit(hour)"
      >
        <mat-icon>edit</mat-icon> Edit
      </button>

      <button
        mat-raised-button
        mat-button
        class="delete"
        color="warn"
        (click)="toggleDay($event, hour, -1)"
      >
        <mat-icon>delete</mat-icon> Delete
      </button>

      <mat-card-title>
        {{ hour | formatHour }} {{ zoneName }}
        <small *ngIf="appointments.get(hour).status === 'loading'">Loading...</small>
        <mat-icon *ngIf="appointments.get(hour).status === 'success'" class="success">check</mat-icon>
        <mat-icon *ngIf="appointments.get(hour).status === 'error'" class="error">clear</mat-icon>
      </mat-card-title>

      <mat-card-subtitle *ngIf="appointments.get(hour).errorMessage" class="error">
        {{ appointments.get(hour).errorMessage }}
      </mat-card-subtitle>

      <form *ngIf="appointments.get(hour).status === 'editing'" (submit)="updateHour($event, hour, newHour.value)">
        <mat-form-field>
          <input
            #newHour
            matInput
            name="hour"
            required
            placeholder="Time (i.e. 10:10)"
            type="time"
            [value]="formatHour(hour)"
          >
        </mat-form-field>
        <button mat-raised-button mat-button type="submit" [disabled]="!newHour.value || appointments.get(hour).status === 'editLoading'" title="Update">
          <mat-icon *ngIf="appointments.get(hour).status !== 'editLoading'">send</mat-icon>
          <mat-spinner *ngIf="appointments.get(hour).status === 'editLoading'" [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
          Save
        </button>
      </form>

      <mat-card-content class="time-wrapper">
        <div *ngFor="let day of weekdays; let i = index" (click)="toggleDay($event, hour, i)">
          <mat-checkbox
            [checked]="appointments.get(hour).days.includes(i)"
          >{{ weekdays[i] }}</mat-checkbox>
        </div>
      </mat-card-content>

      <div class="clearfix"></div>
    </mat-card>
  </div>
</div>
