.chart
  display: inline-block
  height: 140px !important
  width: 100%
  margin-top: 5px

.chart-wrapper
  background: white

@media screen and (max-width: 480px)
    .chart
        height: 100px !important
