<mat-card>
  <mat-card-title>Video Url Suggestions</mat-card-title>

  <p *ngIf="(suggestions$ | async)?.length < 1">
    There are currently no suggestions.
  </p>

  <mat-list *ngFor="let suggestion of suggestions$ | async">
    <p mat-line>{{ suggestion.question.text }}</p>

    <span *ngIf="loading">
      <mat-spinner [diameter]="22" [strokeWidth]="2" class="in-button-spinner"></mat-spinner>
    </span>

    <p mat-line *ngIf="suggestion.question.videoUrl">
      Already has suggested link: <a href="{{ suggestion.question.videoUrl }}">{{ suggestion.question.videoUrl }}</a>
    </p>

    <p mat-line>
      Suggested link: <a href="{{ suggestion.videoUrl }}">{{ suggestion.videoUrl }}</a>
    </p>

    <p mat-line class="button-area">
      <button
        mat-raised-button
        matTooltip="Accept"
        mat-icon-button
        color="primary"
        [disabled]="loading"
        (click)="accept(suggestion)"
      >
        <mat-icon>check</mat-icon>
      </button>
      <button
        mat-raised-button
        matTooltip="Delete"
        mat-icon-button
        color="warn"
        [disabled]="loading"
        (click)="delete(suggestion)"
      >
        <mat-icon>remove_circle</mat-icon>
      </button>
    </p>
    <mat-divider class="question-divider"></mat-divider>
  </mat-list>
</mat-card>