<form (submit)="submit($event)" #loginForm="ngForm">
  <mat-card>
    <div class="login-content">
      <mat-card-title *ngIf="!doSignup">Login</mat-card-title>
      <mat-card-title *ngIf="doSignup">Signup</mat-card-title>

      <mat-card-content>
        <p>
          <mat-form-field>
            <input
              matInput
              name="email"
              #mail="ngModel"
              [(ngModel)]="email"
              autocorrect="off"
              autocapitalize="off"
              placeholder="Email or Username"
              required
              dividerColor="(mail.valid || mail.pristine) ? 'primary' : 'warn'"
              *ngIf="!doSignup">
              <input
                matInput
                name="email"
                #mail="ngModel"
                [(ngModel)]="email"
                placeholder="Email"
                autocorrect="off"
                autocapitalize="off"
                required
                dividerColor="(mail.valid || mail.pristine) ? 'primary' : 'warn'"
                *ngIf="doSignup">
              <span matPrefix *ngIf="!doSignup">
                <mat-icon>email</mat-icon>&nbsp;
              </span>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input
              matInput
              minlength="8"
              required
              name="password"
              #pass="ngModel"
              [(ngModel)]="password"
              type="password"
              placeholder="Password (min 8)"
              dividerColor="(pass.valid || pass.pristine) ? 'primary' : 'warn'">
              <span matPrefix *ngIf="!doSignup">
                <mat-icon>lock</mat-icon>&nbsp;
              </span>
          </mat-form-field>
        </p>

        <p *ngIf="usernameRequested && !doSignup">
          <mat-form-field>
            <input
              matInput
              name="username"
              #usrName="ngModel"
              [(ngModel)]="username"
              placeholder="Username"
              autocorrect="off"
              autocapitalize="off"
              required
              pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{3,20}$"
              dividerColor="(usrName.valid || usrName.pristine) ? 'primary' : 'warn'">
              <span matPrefix>
                <mat-icon>person</mat-icon>&nbsp;
              </span>
          </mat-form-field>
        </p>

        <p *ngIf="doSignup">
          <mat-form-field>
            <input
              matInput
              name="password2"
              minlength="8"
              #pass2="ngModel"
              [(ngModel)]="password2"
              type="password"
              placeholder="Repeat password"
              [required]="doSignup"
              dividerColor="(pass2.valid || pass2.pristine) ? 'primary' : 'warn'">
          </mat-form-field>
        </p>

        <p *ngIf="doSignup">
          <mat-form-field>
            <input
              matInput
              name="usernameSignup"
              #usrNameSign="ngModel"
              [(ngModel)]="username"
              placeholder="Username"
              autocorrect="off"
              autocapitalize="off"
              required
              pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{3,20}$"
              dividerColor="(usrNameSign.valid || usrNameSign.pristine) ? 'primary' : 'warn'">
          </mat-form-field>
        </p>

        <p *ngIf="doSignup">
          <mat-form-field>
            <input
              matInput
              name="name"
              [(ngModel)]="name"
              #iname="ngModel"
              type="text"
              spellcheck="false"
              placeholder="Your name"
              [required]="doSignup"
              dividerColor="(iname.valid || iname.pristine) ? 'primary' : 'warn'">
          </mat-form-field>
        </p>

        <div *ngIf="doSignup || needGdpr">
          <p *ngIf="needGdpr" class="error">{{ error$ | async }}</p>
          <p>
            <mat-checkbox [(ngModel)]="gdpr" name="gdpr">
              I know what data is being saved<br> about me and <b>I do accept this</b>.
            </mat-checkbox>
          </p>
          <p>
            <a href="https://gitlab.com/sirimangalo/meditation-plus/wikis/privacy" target="_BLANK" mat-raised-button>Read about the details</a>
          </p>

          <p *ngIf="needGdpr && !gdpr">
            <button color="warn" type="button" mat-button (click)="deleteAccount()">
              I don't accept my data being saved. Please remove my account.
            </button>
          </p>
        </div>

        <p *ngIf="(error$ | async) && !needGdpr" class="error">{{ error$ | async }}</p>
        <p *ngIf="message">{{ message }}</p>
        <b *ngIf="btnResend">
          Currently our registration emails to gmail or hotmail may fail to deliver. Please contact the support (it@sirimangalo.org) if you don't receive an email.
        </b>
        <span
          *ngIf="btnResend"
          class="href"
          (click)="resendEmail()"
        >
          Resend activation email
        </span>

        <p *ngIf="!doSignup">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="(loading$ | async) || !loginForm.form.valid"
            >
              <mat-spinner
                *ngIf="(loading$ | async)"
                [diameter]="22"
                [strokeWidth]="2"
                class="in-button-spinner">
              </mat-spinner>
              Login
            </button>
            <button
              mat-raised-button
              (click)="toggleSignup($event)"
              [disabled]="(loading$ | async) || (doSignup && !gdpr)"
            >
              Signup
            </button>
        </p>

        <p *ngIf="doSignup">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="(loading$ | async) || !loginForm.form.valid || !gdpr"
          >
            <mat-spinner
              *ngIf="(loading$ | async)"
              [diameter]="22"
              [strokeWidth]="2"
              class="in-button-spinner">
            </mat-spinner>
            Signup
          </button>
          <button
            mat-raised-button (click)="toggleSignup($event)"
            [disabled]="(loading$ | async)"
          >
            Cancel
          </button>
         </p>

      </mat-card-content>
    </div>

    <div class="small-footer">
      <a [routerLink]="['/reset-password']">Forgot Password &bull;</a>
      <a href="https://gitlab.com/sirimangalo/meditation-plus/wikis/privacy" target="_BLANK">Privacy Policy</a>
    </div>
  </mat-card>

  <mat-card class="primary-card">
    <h3>Welcome to our online meditation page!</h3>

    <p>The meditation we practice is based on the teachings found in <a href="http://htm.sirimangalo.org/" target="_BLANK">this booklet</a>.</p>

    <p>Please let us know you are here by submitting your intended time spent walking and sitting.</p>

    <p>If you have trouble logging in or experience other technical difficulties, please visit <a href="https://gitlab.com/sirimangalo/meditation-plus/wikis/Troubleshooting" target="_BLANK">our troubleshooting page</a>.</p>
  </mat-card>

</form>
