<mat-card>
  <div class="own-meditation">
    <div class="timer">
      <span class="time-left">
        {{ (ownSession$ | async) | timeLeft: 'both':true}}
      </span>
      <div
        class="status"
        [class.status-single]="!(ownSession$ | async).walking || !(ownSession$ | async).sitting"
      >
        <div [class.no-padding]="!(ownSession$ | async).sitting" class="walking" *ngIf="(ownSession$ | async).walking">
          <mat-progress-spinner
            mode="determinate"
            [class.inactive]="!(ownSession$ | async).walkingLeft"
            [value]="(ownSession$ | async) | timeLeft: 'walking'"
            #progressWalking
          >
          </mat-progress-spinner>

          <div class="progress">
            <mat-icon>
              directions_walk
            </mat-icon>
          </div>

          <span class="time-done" *ngIf="(ownSession$ | async).sitting">
            {{ (ownSession$ | async) | timeLeft: 'walking':true}} left
          </span>
        </div>

        <div [class.no-padding]="!(ownSession$ | async).walking" class="sitting" *ngIf="(ownSession$ | async).sitting">
          <mat-progress-spinner
            mode="determinate"
            [class.inactive]="!(ownSession$ | async).sittingLeft"
            [value]="(ownSession$ | async) | timeLeft: 'sitting'"
            #progressSitting
          >
          </mat-progress-spinner>

          <div class="progress">
            <img src="/assets/img/sitting.svg">
          </div>

          <span class="time-done" *ngIf="(ownSession$ | async).walking">
            {{ (ownSession$ | async) | timeLeft: 'sitting':true}} left
          </span>
        </div>
      </div>

      <div *ngIf="(ownSession$ | async).walkingLeft == (ownSession$ | async).walking && (ownSession$ | async).sittingLeft == (ownSession$ | async).sitting"
            class="center">
        <i class="e1a-pray"></i><br>
        Have a good session.
      </div>

      <p><button mat-raised-button (click)="stop()">FINISH EARLY</button></p>
    </div>
    <div class="meditators" *ngIf="activeMeditationsWithoutOwn$ | async as activeMeditationsWithoutOwn">
        <div>
          <h2 class="center">Meditating</h2>
          <div class="meditators__circle">
              <div *ngIf="ownSession$ | async as ownSession"
                  class="item"
              >
                <div class="wrapper"
                     #tooltip="matTooltip"
                     (click)="tooltip.toggle()"
                     matTooltip="{{ ownSession.user.name }}"
                     [matTooltipClass]="'meditators__own-session-tip'"
                >
                  <div class="meditators__profile-img meditators__profile-img--own">
                    <user-avatar
                      class="meditated-recently"
                      mat-list-avatar
                      [user]="ownSession.user"
                      thumbnailSize="sm"
                    ></user-avatar>
                  </div>
                </div>
              </div>
              <div *ngFor="let meditation of activeMeditationsWithoutOwn | slice:0:6; let i = index;"
                    class="item"
              >
                <div class="wrapper"
                     #tooltip="matTooltip"
                     (click)="tooltip.toggle()"
                     matTooltip="{{ meditation.user.name }}"
                >
                  <div class="meditators__profile-img">
                    <user-avatar
                      mat-list-avatar
                      [user]="meditation.user"
                      thumbnailSize="sm"
                    ></user-avatar>
                  </div>
                </div>
              </div>
              <div *ngIf="activeMeditationsWithoutOwn.length === 7"
                    class="item"
              >
                <div class="wrapper"
                     matTooltip="{{ activeMeditationsWithoutOwn[6].user.name }}"
                     #tooltip="matTooltip"
                     (click)="tooltip.toggle()"
                >
                  <div class="meditators__profile-img">
                    <user-avatar
                      mat-list-avatar
                      [user]="activeMeditationsWithoutOwn[6].user"
                      thumbnailSize="sm"
                    ></user-avatar>
                  </div>
                </div>
              </div>
              <div *ngIf="activeMeditationsWithoutOwn.length > 7"
                    class="item"
              >
                <div class="wrapper">
                    <button
                      mat-icon-button
                      class="meditators__profile-img meditators__profile-img--others">
                      +{{ activeMeditationsWithoutOwn.length - 6 }}
                    </button>
                </div>
              </div>
              <ng-container *ngIf="activeMeditationsWithoutOwn.length < 7">
                <div *ngFor="let emptySpot of emptyFiller(7 - activeMeditationsWithoutOwn.length).fill(1)"
                      class="item"
                >
                  <div class="wrapper">
                      <button
                        mat-icon-button
                        class="meditators__profile-img meditators__profile-img--others">
                      </button>
                  </div>
                </div>
              </ng-container>
          </div>
        </div>
    </div>
  </div>
</mat-card>
